<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>section-5-routing-exercises - GET APPLY</title>
</head>
<body>
    <header>
        <h1>GET APPLY</h1>
        <blockquote style="text-align: right">"HOLY COW THIS IS LOW LEVEL"</blockquote>
    </header>
    <nav>
        <ul>
            <li><a href="/">index</a></li>
            <li><a href="/apply">apply</a></li>
        </ul>
    </nav>
    <form action="/apply" method="POST">
        <input type="hidden" value="In my good death">
        <input type="submit" value="submit">
    </form>
</body>
</html>
